<div id="about-hannah">
	<div class="text">
		<h2>About</h2>
		<p>The Milo blog is written by Milo’s designer - Hannah Sage.</p>
		<p>Hannah is a Loughborough University design graduate with a passion for travel, developing new ideas and creating
			products that will actively change people’s lives.</p>
		<p>Take a look around, read a little now and then and follow Milo’s journey.</p>
	</div>
	<div class="image"><img src="/images/hannah.jpg" alt="Hannah Sage"></div>
	<div class="clearfix"></div>
</div>
